html{
	scroll-behavior: smooth;	
}

body{
	font-family: 'Tw Cen MT', Verdana, Geneva, Tahoma, sans-serif; 	
	margin:0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#cabecalho{
    background-image: url("./planos/padrao-pt.png");
    background-color: black;
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    border-bottom: 4px solid white;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#cabecalho #sitealt{
    display: none;
}

#logo-site{
    display: inline-block;
    height: 30px;
}

#logo-site img{
    height: 100%;
}

#links-pts{
    float: right;
    padding-right: 23px;
}

#links-pts img{
    height:35px;
    width:35px;
}

#links-pts a{
    text-decoration: none;
}

div[id*='secao']{
    height: 100%;
}

div[id*='texto']{	
	width: 45%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    text-align: center;
    display: block;
    padding: 1%;
    font-size: 24px;
}

#secaoinicial img{
    width: 100%;
}

#secaoinicial{
    background-image:url("./planos/padrao-pt.png");
    background-color: black;
    height: fit-content;
}

#secaoinicialintro{
    color: white;
    font-size: 28px;
    background-image:url("./planos/padrao-pt.png");
    text-align: center;
}

#secaoinicialintro img{
    height:60px;
}

#secaopt1{
    background-color: #50D58A;
    padding-left: 3%;
    float:left;
}

#secaopt1 #capa{
    height: 100%;
    float: right;
}

#secaopt1 #texto{
    float: left;
}

#secaopt1 img{
    height: 48px;
}

#secaopt2{
    background-color: #78467B;
    padding-right: 3%;
    float:right;
}

#secaopt2 #capa{
    height: 100%;
    float: left;
}

#secaopt2 #titulo{
    float: right;
}

#secaopt2 #texto{
    float: right;
}

#secaopt2 img{
    height: 64px;
}

#secaopt3{
    background-color: #FDF41F;
    padding-left: 3%;
    float:left;
}

#secaopt3 #capa{
    height: 100%;
    float: right;
}

#secaopt3 #texto{
    float: left;
}

#secaopt3 img{
    height: 48px;
}

#secaopt4{
    background-color: #EC704B;
    padding-right: 3%;
    float:right;
}

#secaopt4 #capa{
    height: 100%;
    float: left;
}

#secaopt4 #titulo{
    float: right;
}

#secaopt4 #texto{
    float: right;
}

#secaopt4 img{
    height: 48px;
}

#secaopt5{
    background-color: #048FC2;
    padding-left: 3%;
    float:left;
}

#secaopt5 #capa{
    height: 100%;
    float: right;
}

#secaopt5 #texto{
    float: left;
}

#secaopt5 img{
    height: 48px;
}

#secaopt6{
    background-color: #B02587;
    padding-right: 3%;
    float:right;
}

#secaopt6 #capa{
    height: 100%;
    float: left;
}

#secaopt6 #titulo{
    float: right;
}

#secaopt6 #texto{
    float: right;
}

#secaopt6 img{
    height: 48px;
}

#secaopt7{
    background-color: #F25732;
    padding-left: 3%;
    float:left;
}

#secaopt7 #capa{
    height: 100%;
    float: right;
}

#secaopt7 #texto{
    float: left;
}

#secaopt7 img{
    height: 48px;
}

#secaopt8{
    background-color: #E3BE12;
    padding-right: 3%;
    float:right;
}

#secaopt8 #capa{
    height: 100%;
    float: left;
}

#secaopt8 #titulo{
    float: right;
}

#secaopt8 #texto{
    float: right;
}

#secaopt8 img{
    height: 48px;
}

#secaolinks{
    color: white;
    font-size: 28px;
    background-image:url("./planos/padrao-pt.png");
    text-align: center;
}

#secaolinks #links img{
    height: 70px;
}

#secaolinks #jojowiki img{
    height: 50px;
}

#secaolinks table{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#secaolinks input{
    font-size:22px;
    font-family: 'Tw Cen MT', Verdana, Geneva, Tahoma, sans-serif; 
}

@media only screen and (max-width: 850px) {

    #cabecalho #logo-site #site{
        display: none;
    }

    #cabecalho #logo-site #sitealt{
        display: inline;
    }

    #secaoinicial{
        padding-top: 45px;
    }

    #links-pts img{
        height:35px;
        width:35px;
    }

    div[id*='secao']{
        height:fit-content;
        width: 100%;
        text-align: center;
        display: block;
    }

    #secaoinicialintro{
        font-size: 24px;
        padding-bottom: 25px;
    }

    #secaoinicialintro img{
        height:40px;
    }

    div[id*='secaopt']{
        border-bottom: 25px solid rgba(0, 0, 0, 0);
    }

    div[id*='secaopt'] #titulo{
        height: 44px;
        float:inline-start;
        border-top: 25px solid rgba(0, 0, 0, 0);
        border-bottom: 25px solid rgba(0, 0, 0, 0);
    }

    #secaopt2 #titulo{
        height: 54px;
    }

    div[id*='secaopt'] br{
        display: none;
    }

    div[id*='texto']{	
        width: 92%;
        font-size: 22px;
    }

    #secaolinks{
        font-size: 16px;
        text-align: center;
        border-bottom: 45px solid rgba(0, 0, 0, 0);
    }

    #secaolinks #links{
        height: 36px;
    }

    #secaolinks img{
        height: 65px;
    }

    #secaolinks table{
        width: 100%;
    }

    #secaolinks input{
        font-size:16px;
    }

}

@media only screen and (max-width: 600px) {

    #secaoinicialintro img{
        height: 24px;
    }

    #secaoincialintro{
        font-size:20px;
    }

    div[id*='secaopt'] #titulo{
        height: 24px;
    }

    #secaopt2 #titulo{
        height: 34px;
    }

    div[id*='texto']{	
        width: 92%;
        font-size: 18px;
    }

    #secaolinks{
        font-size: 16px;
        text-align: center;
        border-bottom: 45px solid rgba(0, 0, 0, 0);
    }

    #secaolinks #links{
        height: 30px;
    }

    #secaolinks img{
        height: 45px;
    }

    #secaolinks input{
        font-size:16px;
    }

}